{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %}Image Board{% endblock %}
{% block content %}
<form action="{{ url_for('add_image') }}" method=post enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    {% if not session.logged_in %}
        {{ render_field(form.name) }}<br />
    {% endif %}
    {{ render_field(form.upload) }}<br/>
    {{ render_field(form.note) }}<br/>
    {{ render_field(form.tags) }}<br/>
    <input type="submit" value="Upload"><br />
</form>
<div id='ImageboardPageTop'>
    {% macro render_pagination(pagination) %}
      <div class=pagination>
      {%- for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
          {% else %}
            <strong>{{ page }}</strong>
          {% endif %}
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {%- endfor %}
      {% if pagination.has_next %}
        <a href="{{ url_for_other_page(pagination.page + 1)
          }}">Next &raquo;</a>
      {% endif %}
      </div>
    {% endmacro %}
</div>
<div id="ImageboardContainer">
    {% for post in posts %}
    <div class="ImageboardThumb">
        <div>
            <a href="{{ url_for('view_post', post_id=post.id) }}">
                <img src="{{ url_for('send_file', filename=post.image.thumbfilename) }}" />
            </a>
            <br />
        </div>
        {{ post.title }} by
        {% if not post.user.name %}
        <em>Anonymous</em>
        {% else %}
            {{ post.user.name }}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
