{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- <img src="{{ url_for('static', filename='resist.png') }}" /> -->
<h3>Welcome to kremlin</h3>

<div class="panel">
    <div class="row">
        <div class="seven columns">
            <p>
                Welcome to the magical everything system. A word of warning, it is a
                prototype, and also made of shitfrontend. Please eventually 
                <a href="http://github.com/glasnost/kremlin">contribute.</a>
            </p>
        </div>
        <div class="four columns offset-by-one">
            <p><span class="black radius label">New! 06/29</span>
            I totally added some shit here</p>
        </div>
    </div>
</div>

{% endblock %}
