{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- <img src="{{ url_for('static', filename='resist.png') }}" /> -->
<h3>Welcome to kremlin</h3>

<div class="row">
    <div class="large-7 columns">
        <p>
            Welcome to the magical everything system. A word of warning, it is a
            prototype, and also made of shitfrontend. Please eventually
            <a href="http://github.com/glasnost/kremlin">contribute.</a>
        </p>
    </div>
    <div class="large-4 columns large-offset-1">
        <div class="panel">
            <p>
                <span class="black radius label">New! 06/29</span>
                I totally added some shit here
            </p>
            <p>
                <span class="blue radius label">21/12</span>
                Totally the end of the world
            </p>
        </div>
    </div>
</div>

{% endblock %}
