{#
    Main glasnost layout template.

    Every other template inherits from this one, changing or extending blocks
    as required. See the jinja2 and Flask documentation for details, it is
    delicious I assure you.
#}
<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <!-- Standard head -->
    {% block head %}

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}Kremlin{% endblock %} - glasnost.us</title>

    <!-- Mobile specific stuff -->
    <meta name="viewport" content="width=device-width" />

    <!-- Dem stylesheets -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">

    <!-- In case of stone age -->
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="{{ url_for('static', filename='ie.css') }}">
    <![endif]-->

    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Dem favicons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">

    {% endblock %}

    <!-- extra head stuff -->
    {# This may come from a template #}
    {% block extrahead %}{% endblock %}

</head>
<body>
    <div class="row">
        <div class="large-2 large-offset-10 columns" id="Loginbox">
            {% if session.logged_in %}
                {# TODO: Display username. #}
                Welcome Back. <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a> |
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div id="Header" class="large-12 columns">
            {% block header %}
            <div class="large-2 columns">
                <h1>kremlin</h1>
            </div>
            <div class="large-10 columns">
                <h5>Magical Everything System - Prototype</h5>
            </div>
            <!-- <img src="{{ url_for('static', filename='logo.png') }}" alt="glasnost logo" /> -->
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <nav class="top-bar" data-topbar="" role="navigation">
            {% block menu %}
            <section class="top-bar-section">
                <ul class="left">
                    <li><a href="{{ url_for('home_index') }}">Home</a></li>
                    <li><a href="{{ url_for('entries_index') }}">Imageboard</a></li>
                    <li><a href="{{ url_for('logs_index') }}">IRC logs</a></li>
                    <li><a href="{{ url_for('services_index') }}">Services Index</a></li>
                </ul>
            </section>
            {% endblock %}
        </nav>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div id="flashbar" class="alert-box">
                        {{ message }}
                        <a href="" class="close">&times;</a>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div id="Content" class="large-12 columns">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div id="Footer" class="large-4 columns centered">
            {% block footer %}
            <p>Copyright &copy; glasnost.us 2004-2015</p>
            {% endblock %}
        </div>
    </div>
</body>
</html>
