{% extends "layout_post.html" %}
{% block title %}Post: {{ post.title }}{% endblock %}
{% block content %}
<div class="nine columns">
    <div class="AlignCenter">
        <a href="{{ url_for('send_file', filename=post.image.filename) }}">
            <img class="big-thumb" src="{{ url_for('send_file', filename=post.image.filename) }}" title="{{ post.image.title }}">
        </a>
        <br />
        {{ post.image.note }}
        <br />
    </div>
</div>
<div class="three columns img-data">
    <div class="filename">
        <h1>{{ meta.name }}</h1>
        <p class="sha1">{{ meta.sha1sum }}</p>
    </div>
    <ul class="info">
        <li>
            Posted By: [NAME] on {{ meta.date_created }}
        </li>
        <li>
            {{ meta.width }} x {{ meta.height }} ({{ meta.size }})
        </li>
    </ul>
    {% if meta.exif %}
        <div class="exif-wrapper">
            <h2>EXIF</h2>
            <div class="exif">
                {% for k,v in meta.exif.iteritems() %}
                    <p>
                        <strong>{{ k }}</strong>: {{ v }}
                    </p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.min.js') }}"><\/script>')</script>
<script>
    $(document).ready(function() {
        $('img').each(function(){
            var maxw = 760;
            var ratio = 0;
    
            var w = $(this).width();
            var h = $(this).height();
    
            // Check if width larger than the max
            if(w > maxw){
                ratio = maxw / w;
                $(this).css("width", maxw);
                $(this).css("height", h * ratio);
            }
        });

        //Toggle/Untoggle EXIF
        jQuery(".exif-wrapper h2").click(function() {
            jQuery(".exif-wrapper .exif").toggle();
        });

    });
</script>
{% endblock %}
